- if issues && issues.any?
  %form
    %table.list.issues
      %thead
        %tr
          %th= "#"
          %th=l(:field_project)
          %th=l(:field_subject)
          %th=l(:field_status)
          - if allows.include?(:author)
            %th=l(:field_author)
          - if allows.include?(:assigned_to)
            %th=l(:field_assigned_to)
          %th=l(:field_start_date)
          %th=l(:field_due_date)
      %tbody
        - issues.each do |issue|
          %tr.hascontextmenu{:id => "issue-#{h(issue.id)}", :class => [cycle('odd', 'even'), issue.css_classes].join(" ")}
            %td.id
              = check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil)
              = link_to(h(issue.id), {:controller => 'issues', :action => 'show', :id => issue}, {:title => issue.tracker})
            %td.project
              = link_to_project(issue.project)
            %td.subject
              = link_to h(truncate(issue.subject, :length => 60)), {:controller => 'issues', :action => 'show', :id => issue}, :title => issue.tracker
            %td.status
              = h issue.status
            - if allows.include?(:author)
              %td
                = link_to_user(issue.author)
            - if allows.include?(:assigned_to)
              %td
                = link_to_user(issue.assigned_to)
            %td
              = format_date(issue.start_date)
            %td
              = format_date(issue.due_date)
- else
  %p.nodata
    = l(:label_no_data)
